@import 'src/styles/var';

.page {
  .page_content {
  }
  .page_heading {
    padding: var(--spacing-9xl) 0;
    @include max($xl) {
      text-align: center;
      padding: var(--spacing-7xl) 0 calc(2 * var(--spacing-6xl));
    }
  }
  .wrapper {
    padding: var(--spacing-9xl) var(--container-padding-desktop);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-7xl);
    @include max($lg) {
      gap: var(--spacing-6xl);
      flex-direction: column;
      padding-top: 0;
    }
  }
  .content {
    flex-grow: 1;
    @include min($lg) {
      max-width: 576px;
    }
    h4 {
      margin-top: var(--spacing-lg);
      margin-bottom: var(--spacing-6xl);
    }
    p {
      color: $textColor1;
      font-weight: 500;
      line-height: 1.55;
      font-size: var(--f18);
      &:not(:last-child) {
        margin-bottom: var(--spacing-lg);
      }
    }
    @include max($xl) {
      h4 {
        margin-bottom: var(--spacing-4xl);
      }
      p {
        font-size: 1rem;
      }
    }
    @include max($md) {
      text-align: center;
    }
  }
  .image {
    flex-shrink: 0;
    max-width: 50%;
    @include max($lg) {
      max-width: 100%;
    }
  }
}
