@import 'src/styles/var';

.faq {
  padding: var(--spacing-9xl) 0;
  @include max($md) {
    padding-bottom: var(--spacing-6xl);
  }
  .wrapper {
    max-width: 780px;
    margin: auto;
    padding-top: var(--spacing-9xl);
    @include max($md) {
      padding-top: var(--spacing-6xl);
    }
    :global {
      .accordion {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-4xl);
      }
      .accordion-item {
        border: none;
        padding-top: var(--spacing-3xl);
        border-top: 1px solid $borderColor;
        background-color: transparent;
        position: relative;
        @include max($md) {
          text-align: center;
        }
        :local {
          .toggleIcon {
            z-index: -2;
            position: absolute;
            right: 0;
            top: var(--spacing-3xl);
            svg {
              height: 24px;
              width: auto;
            }
          }
        }
        &:first-of-type {
          border: none;
          padding-top: 0;
          :local {
            .toggleIcon {
              top: 0;
            }
          }
        }
      }
      .accordion-header {
        padding-bottom: 10px;
        h5 {
          color: $heading_color;
          line-height: 1.45;
        }
        button {
          text-align: inherit;
          background-color: transparent;
          box-shadow: none;
          padding: 0;
          padding-right: 4rem;
          &::after {
            display: none;
          }
        }
      }
      .accordion-body {
        padding: 0;
        padding-right: 4rem;
        color: $black2;
        @include max($md) {
          padding-right: 2rem;
        }
      }
    }
  }
}
