@import 'src/styles/var';

.form_field_wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2xl);
}

.submit_btn {
  button {
    width: 100%;
  }
  .google_btn {
    @include flexCenter;
    gap: 8px;
  }
}
.already_account {
  text-align: center;
  font-size: var(--f14);
  display: flex;
  gap: 6px;
  justify-content: center;
  color: $textColor1;
  a {
    font-weight: 600;
  }
}

.signup_page {
  .submit_btn {
    margin: var(--spacing-3xl) 0;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xl);
  }
}
.password_checks {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
  color: $textColor1;
  font-size: var(--f14);
  span {
    display: flex;
    gap: 8px;
  }
  svg {
    width: 20px;
    height: auto;
    * {
      fill: $inputBorder;
    }
    &.checked {
      * {
        fill: $primary;
      }
    }
  }
}

.login_page {
  .submit_btn {
    margin: var(--spacing-3xl) 0;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xl);
  }
  .remember_wrap {
    display: flex;
    justify-content: space-between;
    font-size: var(--f14);
    font-weight: 500;
  }
  .bottom_backBtn {
    margin-top: var(--spacing-3xl);
    display: flex;
    justify-content: center;
    font-size: var(--f14);
    font-weight: 500;
    a {
      color: $textColor1;
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }
}
