@import 'src/styles/var';

// .page_wrapper_bg {
//   background-image: url('/images/postCase/Intake Form.svg');
//   min-height: 100vh;
//   background-attachment: fixed;
//   background-position: center;
// }
.form_card {
  max-width: 544px;
  margin: auto;
  border: 1px solid $black6;
  border-radius: 1rem;
  padding: var(--spacing-4xl);
  background-color: #fff;
  > h4 {
    font-size: 30px;
    text-align: center;
  }
  .submit_btn_wrap {
    display: flex;
    margin-top: var(--spacing-4xl);
    gap: var(--spacing-4xl);
    > * {
      flex-basis: 50%;
    }
  }
  @include max($md) {
    padding: var(--spacing-4xl);
    background-color: transparent;
    .submit_btn_wrap {
      gap: var(--spacing-lg);
    }
  }
  @include max($sm) {
    .submit_btn_wrap {
      flex-wrap: wrap;
      > * {
        flex-basis: 100%;
      }
    }
  }
}

.form_section {
  margin-top: var(--spacing-4xl);
  @include max($md) {
    > h5 {
      text-align: center;
    }
  }
  .fields_wrapper {
    --gapX: var(--spacing-xl);
    --gapY: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: var(--gapY) 0;
    margin: var(--spacing-3xl) calc(-1 * var(--gapX)) 0;
    > * {
      flex-basis: 100%;
      @include min($md) {
        &.md6 {
          flex-basis: 50%;
        }
      }
      padding: 0 var(--gapX);
    }
  }
}
.field_wrap label {
  font-size: var(--f14);
  font-weight: 500;
  margin-bottom: 6px;
  color: #344054;
}
.field_wrap select {
  box-shadow: none;
  border-color: #d0d5dd;
  border-radius: 8px;
  min-height: 44px;
  padding: 8px 14px;
  line-height: 1.25;
  color: #101828;
  resize: none;
  width: 100%;
  background-color: transparent;
}

.complete_view {
  max-width: 544px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-3xl);
  text-align: center;
  color: $primary;
  .goHome_btn {
    margin-top: var(--spacing-4xl);
    min-width: 224px;
  }
  .text_content {
    h4 {
      margin-bottom: var(--spacing-lg);
    }
    h5 {
      font-size: var(--f24);
    }
  }
  svg {
    width: 84px;
    height: auto;
  }
}
