@import 'src/styles/var';

html {
  font-size: 16px;
  // @include max($md) {
  //   font-size: 14px;
  // }
}
img {
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
h1 {
  font-size: clamp(30px, 3.9vw, 56px);
  line-height: 1.2;
  font-weight: 600;
  @include max($md) {
    line-height: 1.26;
  }
}
h2 {
  font-size: clamp(26px, 3.5vw, 48px);
  font-weight: 600;
}
h3 {
  font-size: 44px;
  font-weight: 600;
}
h4 {
  font-size: 36px;
  font-weight: 600;
  @include max($md) {
    font-size: 28px;
  }
}
h5 {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  @include max($sm) {
    line-height: 1.55;
    font-size: 16px;
  }
}
h6 {
  font-size: 16px;
}
p {
  color: $black2;
  line-height: 1.55;
  @include max($md) {
    line-height: 1.5;
  }
}
a {
  text-decoration: none;
}
.container {
  @include max($md) {
    --bs-gutter-x: 32px;
  }
}
.form-check-label {
  @include noTextSelect;
}
.form-check-input {
  &:focus {
    box-shadow: none;
  }
}
