// =========== scss variables =============
$primary: #6e00ff;
$input_primary: #d6bbfb;
$black: #000;
$black1: #464e59;
$black2: #5d6776;
$black6: #e3e5e8;
$textColor1: #475467;
$textColor2: #667085;
$heading_color: #101828;
$bg_grey: #f9fafb;
$textWhite: #ffffff;
$textSecondary: #344054;

$inputBorder: #d0d5dd;
$borderColor: #eaecf0;
// ============ breakPoints ==========

$xxl: 1399;
$xl: 1199;
$lg: 991;
$md: 767;
$sm: 575;
$xs: 375;

@mixin min($value) {
  @media screen and (min-width: (($value + 1)+ 'px')) {
    @content;
  }
}
@mixin max($value) {
  @media screen and (max-width: ($value + 'px')) {
    @content;
  }
}
@mixin minMax($min, $max) {
  @media (min-width: ($min + 'px')) and (max-width: ($max + 'px')) {
    @content;
  }
}
@mixin noTextSelect {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin row_col($width, $space, $gap, $jc) {
  --width: #{$width};
  --space: #{$space};
  --gap: #{$gap};
  --jc: #{$jc};
  display: flex;
  flex-wrap: wrap;
  justify-content: var(--jc);
  margin: 0 calc(-1 * var(--space));
  gap: var(--gap) 0;
  > * {
    padding: 0 var(--space);
    flex-basis: var(--width);
    max-width: var(--width);
  }
}

// =================== css variables ===============
@mixin cssVariables {
  // ===== font variables =========
  --f12: 12px;
  --f14: 14px;
  --f16: 16px;
  --f18: 18px;
  --f20: 20px;
  --f22: 22px;
  --f24: 24px;
  --f30: 30px;

  // ===== space variables =========
  --spacing-lg: 12px;
  --spacing-xl: 16px;
  --spacing-2xl: 20px;
  --spacing-3xl: 24px;
  --spacing-4xl: 32px;
  --spacing-5xl: 40px;
  --spacing-6xl: 48px;
  --spacing-7xl: 64px;
  --spacing-9xl: 96px;
  --spacing-10xl: 112px;

  --container-padding-desktop: 32px;
  @include max($xl) {
    --container-padding-desktop: 0;
  }

  @include max($xl) {
    --f22: 18px;
    --f24: 20px;
  }
  @include max($md) {
    --f16: 14px;
    --f18: 16px;
    --f20: 16px;
    --f24: 18px;
    --f30: 24px;

    // --spacing-2xl: 14px;
    // --spacing-3xl: 16px;
    // --spacing-4xl: 18px;
    // --spacing-5xl: 22px;
    // --spacing-6xl: 28px;
    // --spacing-7xl: 36px;
    // --spacing-9xl: 50px;
    // --spacing-10xl: 60px;
  }
}
