@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "src/styles/var";
@import "bootstrap/scss/bootstrap";
@import "src/styles/common";

:root {
  @include cssVariables;
  // font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Poppins", sans-serif;
}

// =========== theme components styles ===========
.heading_sm_primary {
  color: $primary;
  font-size: var(--f14);
  font-weight: 500;
}

.custom_btn {
  font-weight: 500;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  position: relative;
  .loader {
    line-height: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    svg {
      height: 20px;
      width: 20px;
    }
  }
  &.loading {
    color: transparent !important;
  }
  &.disabled {
    opacity: 0.9;
  }
  // font-size: 16px;
  &.btn {
    line-height: 1.25;
    min-height: 44px;
    padding: 10px 18px;
  }
  &.btn-outline-light {
    background-color: transparent;
    color: $textSecondary;
    border-color: $inputBorder;
  }
}

.input_check_error {
  position: absolute;
  left: 40px;
  font-size: var(--f12);
  color: $danger;
  display: block;
  line-height: 1;
}

.field_wrap {
  position: relative;
  label {
    font-size: var(--f14);
    font-weight: 500;
    margin-bottom: 6px;
    color: $textSecondary;
  }
  #requiredLabel::after {
    content: "*";
    width: 1.5em;
    margin-right: 1.5em;
    color: $red;
  }

  // #requiredLabel + input:not([required]) {
  //   box-shadow: -3.2em 0 0 #fff;
  // }
  input,
  textarea {
    &.form-control {
      box-shadow: none;
      border-color: $inputBorder;
      border-radius: 8px;
      min-height: 44px;
      padding: 8px 14px;
      line-height: 1.25;
      color: $heading_color;
      resize: none;
      &:focus {
        box-shadow: 0px 0px 0px 4px #9e77ed3d, 0px 1px 2px 0px #1018280d;
        border-color: $input_primary;
      }
      &::placeholder {
        color: $textColor2;
      }
      &.has_error {
        border-color: $danger;
        &:focus {
          border-color: rgba($danger, 0.5);
          box-shadow: 0px 0px 0px 4px rgba($danger, 0.3),
            0px 1px 2px 0px rgba($danger, 0.3);
        }
      }
    }
  }
  textarea {
    &.form-control {
      padding: var(--spacing-lg) 14px;
    }
  }
  select {
    &.form-select {
      box-shadow: none;
      border-color: $inputBorder;
      border-radius: 8px;
      min-height: 44px;
      padding: 8px 14px;
      color: $heading_color;
      resize: none;
    }
  }
  .error {
    position: absolute;
    color: $danger;
    right: 0;
    font-size: var(--f12);
    top: 100%;
  }
  .react-datepicker-popper {
    padding-top: 4px;
    right: auto !important;
    left: 50% !important;
    transform: translate(-50%, 0px) !important;
    top: 100% !important;
  }
  .react-datepicker {
    padding: var(--spacing-3xl) var(--spacing-2xl) var(--spacing-xl);
    border-radius: 12px;
    border-color: $borderColor;
    box-shadow: 0px 0px 25px -15px rgba(#000, 0.4);
    @include max($sm) {
      padding: var(--spacing-xl) var(--spacing-lg);
    }
  }
  .react-datepicker__day--outside-month {
    color: $textColor2;
  }
  .react-datepicker-wrapper {
    display: block;
    .react-datepicker__input-container {
      display: inherit;
    }
  }
  .react-datepicker__header {
    background-color: #fff;
    border: none;
    padding: 0;
  }
  .react-datepicker__navigation {
    top: var(--spacing-3xl);
    @include max($sm) {
      top: var(--spacing-xl);
    }
    .react-datepicker__navigation-icon {
      &:before {
        border-color: #000;
        border-width: 2px 2px 0 0;
      }
    }
    &.react-datepicker__navigation--previous {
      left: 20px;
    }
    &.react-datepicker__navigation--next {
      right: 20px;
    }
  }
  .react-datepicker__current-month {
    margin-bottom: var(--spacing-2xl);
    color: $black2;
    font-size: 16px;
    line-height: 1;
  }
  .react-datepicker__triangle {
    display: none;
  }
  .react-datepicker__day,
  .react-datepicker__day-name {
    width: 40px;
    aspect-ratio: 1;
    height: auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    border-radius: 50%;
    font-weight: 400;
    @include max($sm) {
      width: 34px;
    }
  }

  .react-datepicker__day-name {
    color: #000;
  }
  .react-datepicker__day--selected {
    background-color: $primary;
    line-height: 1;
  }
}

.section_heading {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2xl);
  &.noCenter {
    text-align: left;
  }
  h2 {
    color: $heading_color;
  }
  h5 {
    font-size: var(--f20);
    color: $black2;
    font-weight: 400;
  }
  @include max($md) {
    gap: var(--spacing-xl);
  }
}
