@import "src/styles/var";

.top_section {
  background-image: url("/images/contact/Contact Us.svg");
  background-position: top;
  @include max($md) {
    background-size: 200%;
  }
}
.page_heading {
  padding: var(--spacing-9xl) 0;
  text-align: center;
  @include max($md) {
    padding: var(--spacing-7xl) 0 var(--spacing-6xl);
  }
}
.detail_wrapper {
  --gap: 12px;
  --width: 50%;
  display: flex;
  flex-wrap: wrap;
  gap: calc(2 * var(--gap)) 0;
  margin: 0 calc(-1 * var(--gap));
  padding: var(--spacing-9xl) var(--container-padding-desktop);
  @include max($lg) {
    --width: 100%;
    padding: 0;
  }
}
.detail_box_col {
  padding: 0 var(--gap);
  flex-basis: var(--width);
  max-width: var(--width);
}
.detail_box {
  border: 1px solid $black6;
  border-radius: 12px;
  height: 100%;
  padding: var(--spacing-3xl);
  background-color: #fff;
  .icon {
    border-radius: 10px;
    width: 3rem;
    aspect-ratio: 1;
    border: 1px solid $black6;
    @include flexCenter;
    svg {
      max-width: 50%;
    }
  }
  h5 {
    margin: var(--spacing-7xl) 0 8px;
    font-size: var(--f20);
    font-weight: 600;
  }
  p {
    margin-bottom: var(--spacing-2xl);
  }
  a {
    text-decoration: none;
  }
  @include min($md) {
    p {
      min-height: 50px;
    }
  }
  @include max($md) {
    text-align: center;
    .icon {
      margin: auto;
    }
    p {
      br {
        display: none;
      }
    }
  }
}

// ======= form section ===========

.form_section {
  padding: var(--spacing-9xl) 0;
  .heading {
    padding-bottom: var(--spacing-9xl);
  }
  .form_wrap {
    max-width: 500px;
    margin: auto;
  }
  .form_row {
    --bs-gutter-x: var(--spacing-4xl);
    --bs-gutter-y: var(--spacing-3xl);
  }
  .form_btn {
    width: 100%;
    margin-top: var(--spacing-4xl);
  }
  @include max($md) {
    padding: var(--spacing-7xl) 0;
    .heading {
      padding-bottom: var(--spacing-7xl);
    }
  }
}
