@import 'src/styles/var';

.page {
}
.first_view {
  background-image: url('/images/home/dots.png'),
    linear-gradient(90deg, #fff, #ffffff8b, #ffffff8b, #fff);
  background-size: cover;
  background-repeat: repeat;
  position: relative;
  background-blend-mode: overlay;
  .first_viewInner {
    position: relative;
    z-index: 2;
  }
  @include max($md) {
    background-image: url('/images/home/dots.png'),
      linear-gradient(180deg, #ffffffc6, #ffffffc6, #fff);
  }
}
