@import 'src/styles/var';

.page {
}
.first_view {
  background-image: url('/images/home/dots.svg');
  background-size: cover;
  background-position: center;
  position: relative;
  .first_viewInner {
    position: relative;
    z-index: 2;
  }
  @include max($md) {
    background-image: url('/images/home/dots_grey.svg');
  }
}
