@import 'src/styles/var';

.howWorks {
  padding: var(--spacing-9xl) 0;
  @include max($lg) {
    padding-bottom: var(--spacing-7xl);
  }
  .wrapper {
    padding-top: var(--spacing-7xl);
    --arrowWidth: 50%;
    --gap: 1.5rem;
    --width: 33.33%;
    display: flex;
    flex-wrap: wrap;
    gap: calc(1.2 * var(--gap)) 0;
    margin: 0 calc(-1 * var(--gap));
    @include max($lg) {
      padding-top: var(--spacing-6xl);
      --width: 100%;
      --gap: 0;
    }
  }
  .single_box {
    position: relative;
    flex-basis: var(--width);
    max-width: var(--width);
    padding: 0 var(--gap);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      max-width: 200px;
    }
    h4 {
      font-size: var(--f24);
      font-weight: 600;
      margin-bottom: 8px;
    }
    p {
      color: $black2;
    }
    .arrow_desktop {
      position: absolute;
      right: 0;
      transform: translateX(50%);
      top: 50px;
      width: calc(0.9 * var(--arrowWidth) + (2 * var(--gap)));
      height: auto;
    }
    &:last-of-type {
      .arrow_desktop {
        display: none;
      }
    }
    .arrow_mobile {
      display: none;
    }
    @include min($md) {
      img {
        max-height: 118px;
      }
    }
    @include max($xxl) {
      --arrowWidth: 40%;
    }
    @include max($xl) {
      --arrowWidth: 36%;
    }
    @include max($lg) {
      .arrow_desktop {
        display: none;
      }
      .arrow_wrap {
        padding: var(--spacing-5xl) 0;
      }
      .arrow_mobile {
        display: block;
        max-height: 90px;
      }
      &:last-of-type {
        .arrow_wrap {
          padding: 0;
        }
        .arrow_mobile {
          display: none;
        }
      }
    }
  }
}
