@import 'src/styles/var';

.explore {
  padding: var(--spacing-9xl) 0;

  .wrapper {
  }
  .single_row {
    padding-top: var(--spacing-9xl);
    --arrowWidth: 50%;
    --gap: 1.5rem;
    display: flex;
    flex-wrap: wrap-reverse;
    // gap: calc(1.2 * var(--gap)) 0;
    align-items: center;
    justify-content: space-between;
    &:nth-of-type(odd) {
      .contentPart {
        padding-right: var(--container-padding-desktop);
      }
    }
    &:nth-of-type(even) {
      flex-direction: row-reverse;
      .contentPart {
        padding-left: var(--container-padding-desktop);
      }
    }
    @include max($md) {
      gap: 1rem;
    }
  }
  .imagePart {
    --width: 50%;
    flex-basis: var(--width);
    max-width: var(--width);
    @include max($md) {
      --width: 100%;
      text-align: center;
      img {
        width: 100%;
        max-width: 400px;
      }
    }
  }
  .contentPart {
    --width: 50%;
    flex-basis: var(--width);
    max-width: 560px;
    p {
      margin-top: var(--spacing-xl);
      color: $black2;
    }
    .icon {
      width: 48px;
      aspect-ratio: 1;
      border-radius: 50%;
      background-color: #f4ebff;
      @include flexCenter;
      margin-bottom: var(--spacing-2xl);
      svg {
        max-width: 50%;
      }
    }
    // @include min($lg) {
    //   padding: 0 20px;
    // }
    @include max($md) {
      --width: 100%;
      h2 {
        font-size: 1.5rem;
      }
    }
  }
}
