@import 'src/styles/var';

.banner {
  padding: var(--spacing-7xl) 0 var(--spacing-9xl);
  @include max($md) {
    padding-bottom: var(--spacing-7xl);
  }
  .wrapper {
    position: relative;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    @include max($md) {
      flex-direction: column;
      gap: var(--spacing-6xl);
      padding-bottom: calc(var(--spacing-6xl) + var(--spacing-3xl));
      // align-items: center;
    }
  }
  .banner_content {
    flex-basis: 55%;
    h1 {
      margin-bottom: 1.5rem;
      span {
        display: block;
        color: $primary;
      }
    }
    h5 {
      color: $black1;
      font-weight: 400;
      line-height: 1.55;
      max-width: 450px;
      margin-bottom: 3rem;
    }
    @include max($md) {
      text-align: center;
      // h1 {
      //   span {
      //     display: inline;
      //   }
      // }
      h5 {
        margin: 0;
      }
      .post_btn {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        button {
          height: 44px;
          width: 100%;
        }
      }
    }
  }
  .banner_img {
    flex-basis: 45%;
    text-align: left;
    img {
      max-width: none;
      width: 100%;
    }
    @include min($xl) {
      img {
        width: calc(100% + 60px);
        margin-right: -60px;
      }
    }
    @include max($md) {
      flex-basis: auto;
      overflow: hidden;
      img {
        width: calc(100% + 80px);
        margin-left: -40px;
      }
    }
  }
}
