@import 'src/styles/var';

.header {
  padding: 15px 0;
  .logo {
    img {
      height: 42px;
    }
  }
  .navLinks {
    color: $black1;
    gap: 1.25rem;
    :global {
      a.nav-link {
        color: inherit;
        padding: 6px;
      }
    }
  }
}
