@import 'src/styles/var';

.footer {
  border-top: 1px solid $black6;
  .footer_top {
    padding: var(--spacing-7xl) var(--spacing-4xl) var(--spacing-6xl);
    display: flex;
    gap: var(--spacing-7xl);
    overflow: hidden;
    @include max($lg) {
      flex-wrap: wrap;
    }
    @include max($sm) {
      gap: var(--spacing-6xl);
      padding: var(--spacing-6xl) 0 var(--spacing-6xl);
    }
  }
  .footer_topLeft {
    flex-basis: 320px;
    color: $textColor1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-4xl);
    img {
      height: 52px;
    }
    @include max($lg) {
      img {
        height: 42px;
      }
    }
    @include max($sm) {
      text-align: center;
      flex-basis: 100%;
      align-items: center;
      gap: var(--spacing-3xl);
    }
  }
  .footer_topLinks {
    flex-grow: 1;
    display: flex;
    --gap: var(--spacing-4xl);
    --width: 33.33%;
    margin: 0 calc(-1 * var(--gap));
    gap: calc(1.5 * var(--gap)) 0;
    .links_column {
      padding: 0 var(--gap);
      flex-basis: var(--width);
      max-width: var(--width);
      h6 {
        font-weight: 500;
        color: $textColor2;
        margin-bottom: var(--spacing-xl);
      }
    }
    .links_list {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-lg);
      a {
        font-weight: 500;
        color: $textColor1;
        text-decoration: none;
      }
    }
    @include max($sm) {
      flex-wrap: wrap;
    }
    @include max($xs) {
      --width: 50%;
    }
  }

  // ==== bottom footer ========

  .footer_bottom {
    background-color: $bg_grey;
    .footer_bottomWrap {
      color: $textColor2;
      padding: var(--spacing-7xl) var(--spacing-4xl) var(--spacing-6xl);
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    p {
      text-align: center;
    }
    .socialLinks {
      display: flex;
      align-items: center;
      gap: 1rem;
      a {
        padding: 4px;
      }
    }
    @include max($lg) {
      .footer_bottomWrap {
        padding: var(--spacing-5xl) 0;
        flex-direction: column-reverse;
        gap: 1.25rem;
      }
    }
  }
}
